footer.footer
  .logo__box
    .logo &nbsp
  .text-box.footer__text-box
    p.footer__address.paragraph-primary
      span.footer__text Fern - Gabelweg 23 - 13057 Berlin
      span.footer__text Telefon 032-259832574
    p.footer__opening-times.paragraph-primary
      span Tues - Sat
      span  18:00 - 22:00
  .footer__navigation
    ul.footer__link-list
      a.link(href='')
        li.link.footer__link Reservation
      a.link(href='')
        li.link.footer__link Press
      a.link(href='')
        li.link.footer__link Imprint
      a.link(href='')
        li.link.footer__link Privacy Policy
    .footer__language-selection
      a.footer__language-selection--german.link(href='') Deutsch
      a.footer__language-selection--english.link(href='') English
    .footer__social-media
      a.link(href='')
        i.footer__social-media--fb.fab.fa-facebook-f
      a.link(href='')
        i.footer__social-media--inst.fab.fa-instagram
        
