navigation.navigation
  .navigation__logo-box
    .navigation__title Fern
  ul.navigation__list
    li.navigation__list--link
      a.link.navigation__link(href='http://localhost:8000/') Home
    li.navigation__list--link
      a.link.navigation__link(href='http://localhost:8000/dinner') Dinner
    li.navigation__list--link
      a.link.navigation__link(href='http://localhost:8000/wanderlust') Wanderlust
    li.navigation__list--link
      a.link.navigation__link(href='http://localhost:8000/about') About
    li.navigation__list--link
      a.link.navigation__link(href='http://localhost:8000/shop') Shop
    li.navigation__list--link
      a.link.navigation__link(href='http://localhost:8000/contact') Contact
button.btn.btn__toggle(href='#')
  span.btn__toggle--bar
  span.btn__toggle--bar
  span.btn__toggle--bar