navigation.navigation
  .navigation__logo-box
    .navigation__title Fern
  ul.navigation__list
    li.navigation__list--link
      a.link.navigation__link(href='/home') Home
    li.navigation__list--link
      a.link.navigation__link(href='/dinner') Dinner
    li.navigation__list--link
      a.link.navigation__link(href='/wanderlust') Wanderlust
    li.navigation__list--link
      a.link.navigation__link(href='/about') About
    li.navigation__list--link
      a.link.navigation__link(href='/shop') Shop
    li.navigation__list--link
      a.link.navigation__link(href='/contact') Contact
button.btn.btn__toggle(href='#')
  span.btn__toggle--bar
  span.btn__toggle--bar
  span.btn__toggle--bar