extends base
include _mixins

block content
    +carousel('home', 'Our Story', 'Reservations', 'Wanderlust', 'about', 'dinner#reservations', 'wanderlust')

    section.section-concept
        .text-box
            h2.heading-secondary From the Ground to the Plate
            h3.heading-tertiary.heading-tertiary-italic
                p 18:00 - Dinner à la Carte
                p Seasonal Menu
            h3.heading-tertiary.heading-tertiary-italic
                p A Walk - Forage &amp; Eat 
                p Monthly Excursions
    
    section.section-kitchen
        .section-kitchen__main.section-kitchen__single-img-background &nbsp;

    section.section-philosophy
        .text-box
            h2.heading-secondary In Balance with Nature

    section.section-restaurant-interior
        .section-restaurant-interior__main.section-restaurant-interior__single-img-background &nbsp;

