/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

@keyframes minimizeDetails {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% { }
  75% {
    font-size: 1.5rem; }
  100% {
    font-size: 0;
    opacity: 0; } }

@keyframes minimizeSummary {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.5, 1); }
  100% {
    transform: translateX(-25%) scale(0.5, 1); } }

@keyframes billingAnimate {
  0% {
    width: 0;
    opacity: 0; }
  25% {
    width: 12.5%;
    opacity: 0.25; }
  50% {
    width: 25%; }
  75% {
    width: 40%;
    opacity: 0.75; }
  100% {
    width: 50%;
    opacity: 1; } }

@keyframes detailsFadeout {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes detailsFadein {
  0% { }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #fffafa;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #455;
  line-height: 1.7; }

.heading__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: #ebf1ca;
  text-transform: uppercase; }
  .heading__primary-green {
    color: #455; }
  .heading__primary--main {
    display: block;
    width: 100%;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1.5rem; }
  .heading__primary--sub {
    display: block;
    width: 100%;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1.5rem; }

.heading-secondary {
  font-weight: 300;
  font-size: 3rem;
  width: 60%;
  text-align: center;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }
  .heading-tertiary-italic {
    font-style: italic; }

.paragraph-secondary {
  font-size: 1.5rem; }
  .paragraph-secondary:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph-primary {
  font-size: 2rem;
  margin: 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  text-decoration: none;
  color: #ebf1ca;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn--green {
    color: #455; }
  .btn__text--cream {
    border: solid 1px #ebf1ca;
    border-radius: 2px;
    padding: 1rem 8rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    transition: all 0.5s; }
    .btn__text--cream:hover {
      background-color: rgba(119, 119, 119, 0.7);
      border: solid transparent 1px;
      border-radius: 2px; }
  .btn__text--green-basil {
    padding: 1rem 8rem;
    margin: 1rem;
    border: solid 1px #455;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #455;
    transition: all 0.5s; }
    .btn__text--green-basil:hover {
      background-color: rgba(119, 119, 119, 0.7);
      border: solid transparent 1px;
      border-radius: 2px;
      color: #fffafa; }
  .btn__remove-cart-item {
    display: inline-block;
    margin: 1rem; }
  .btn__remove-checkout-item {
    color: #455; }
  .btn__chevron {
    font-size: 2rem; }
    .btn__chevron-down-remove {
      display: none; }
  .btn__cart {
    position: relative;
    top: 50%;
    right: 2.5%;
    background: #ebf1ca;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    z-index: 1; }
    .btn__cart-icon {
      font-size: 3rem;
      color: #455; }
    .btn__cart-items {
      position: absolute;
      top: 20%;
      right: 20%;
      background: #fffafa;
      padding: 0 5px;
      border-radius: 30%;
      color: #455;
      font-size: 1.5rem; }
  .btn__toggle {
    position: fixed;
    top: 0.75rem;
    right: 1rem;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem; }
    .btn__toggle--bar {
      height: 2px;
      width: 100%;
      background-color: #fffafa;
      border-radius: 30px;
      transition: background-color 0.2s ease; }
      .btn__toggle--bar-active {
        background-color: #455; }
      .btn__toggle--bar-scrolled {
        background-color: #455; }
    @media only screen and (max-width: 37.5em) {
      .btn__toggle {
        display: flex; } }

.btn-carousel {
  width: 1rem;
  height: 1rem;
  background-color: #ebf1ca;
  border: none;
  border-radius: 100%;
  padding: 5px; }
  .btn-carousel:active,
  .btn-carousel :visited {
    background-color: rgba(119, 119, 119, 0.7); }
  .btn-carousel--1 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px; }
  .btn-carousel--2 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px; }

.card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  transition: 0.3s all; }
  .card__header {
    position: relative; }
  .card__picture {
    position: relative;
    height: 22rem; }
    .card__picture-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.1));
      opacity: 0.7; }
    .card__picture-img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .card__details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'header header' 'body body' 'footer-1 footer-2'; }
    .card__details-grid--header {
      grid-area: header; }
    .card__details-grid--body {
      grid-area: body; }
    .card__details-grid--footer-1 {
      grid-area: footer-1; }
    .card__details-grid--footer-2 {
      grid-area: footer-2; }
  .card__data {
    margin: 1rem;
    padding: 1rem;
    text-align: center; }
  .card__footer {
    height: 10rem;
    display: flex; }
    .card__footer-button {
      margin: auto; }

.cart {
  display: grid;
  grid-template-rows: auto 70% auto;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease; }
  .cart__header {
    display: grid;
    justify-self: center;
    width: 50%; }
    .cart__header-close {
      position: absolute;
      top: 2%;
      left: 5%;
      font-size: 2rem; }
    .cart__header-title {
      justify-self: center;
      align-self: center;
      margin-bottom: 0;
      text-transform: uppercase; }
  .cart__details-img {
    height: 8rem; }
  .cart__details-grid {
    overflow-y: auto; }
  .cart__item-details {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem; }
  .cart__quantity-adjust {
    text-align: center; }
  .cart__footer {
    height: 100%;
    text-align: center; }

.composition {
  height: 60vmin; }
  .composition__content {
    display: inline-grid;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%; }
    .composition__content--tile {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .composition__content--columns-4 {
      grid-template-columns: repeat(4, 1fr); }
      @media only screen and (max-width: 56.25em) {
        .composition__content--columns-4 {
          grid-template-columns: 50% 50%; } }
    .composition__content--columns-3 {
      grid-template-columns: repeat(3, 1fr); }
      @media only screen and (max-width: 56.25em) {
        .composition__content--columns-3 {
          grid-template-columns: 50% 50%; } }

.carousel__main {
  position: relative;
  height: 100%;
  overflow: hidden; }

.carousel__cell {
  height: 100%;
  width: 100%; }

.carousel__image {
  height: 100%;
  background-size: cover;
  background-position: center; }

.carousel__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-x: hidden; }

.carousel__slide--home-1 {
  background-image: url(../img/home-hero-1-scaled.jpg); }

.carousel__slide--home-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-hero-2-scaled.jpg); }

.carousel__slide--home-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-hero-3-scaled.jpg); }

.carousel__slide--wanderlust-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/wanderlust-hero-1-scaled.jpg); }

.carousel__slide--wanderlust-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wanderlust-hero-2-scaled.jpg); }

.carousel__slide--wanderlust-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wanderlust-hero-3-scaled.jpg); }

.carousel__slide--dinner-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/dinner-hero-1.jpg); }

.carousel__slide--dinner-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/dinner-hero-2.jpg); }

.carousel__slide--dinner-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/dinner-hero-3.jpg); }

.flickity-page-dots {
  bottom: 10px !important; }

.form {
  display: grid;
  grid-template-rows: 10%;
  gap: 2rem;
  height: 100%; }
  .form__address--animate {
    transform: translateX(-100%); }
  .form__header {
    grid-column: line1 / line3; }
  .form__billing {
    color: #ebf1ca;
    opacity: 1;
    transition: transform 0.3 ease; }
    .form__billing--animate {
      transform: translateX(0); }
  .form__group-container {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: [line1] 60% [line2] 40% [line3];
    grid-template-rows: 50% 50%;
    height: 100%; }
  .form__footer {
    display: flex;
    justify-content: center; }
  .form__billing-checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .form__billing-checkbox {
    margin-right: 1rem; }
  .form__billing-label {
    font-size: 1.25rem; }
  .form__label {
    display: block; }
  .form__input {
    height: 3rem; }

.link {
  text-decoration: none;
  color: #455; }
  .link:link, .link:visited {
    text-decoration: none; }
  .link:hover {
    font-weight: 700; }

.logo {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/fern-logo-1.png); }
  .logo__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem; }

.text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0; }
  .footer__text {
    font-size: 2rem;
    margin: 1rem; }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    font-size: 1.5rem; }
  .footer__link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .footer__language-selection {
    display: flex;
    justify-content: center;
    margin: 1rem; }
    .footer__language-selection--german {
      margin: 0 1rem; }
    .footer__language-selection--english {
      margin: 0 1rem; }
  .footer__social-media {
    display: flex; }
    .footer__social-media--fb {
      margin: 0 5px; }
    .footer__social-media--inst {
      margin: 1px 5px; }

#footer__text-box {
  height: 15rem; }

.header {
  height: 100vh; }
  .header__text-box {
    margin: 5rem;
    text-align: center; }
  .header__btn-carousel-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
    height: 5rem;
    bottom: 0;
    right: 0;
    margin-right: 5rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  font-size: 1.5rem;
  background: transparent;
  transition: background 1s; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      background: transparent;
      box-shadow: none; } }
  .navigation__scrolled {
    background: #fffafa;
    color: #455;
    transition: background 1s;
    box-shadow: 0px 1px 1px 1px rgba(68, 85, 85, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .navigation__scrolled {
        background: transparent;
        box-shadow: none; } }
  .navigation__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo-box {
        display: none;
        height: auto; } }
  .navigation__link:link, .navigation__link:visited {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: #fffafa;
    text-decoration: none;
    transition: color 1s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        margin: 5px; } }
  .navigation__link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fffafa;
    transition: width 0.6s; }
  .navigation__link:hover {
    font-weight: 700; }
  .navigation__link:hover::after {
    width: 100%; }
  .navigation__link--active {
    color: #455;
    margin: 1rem; }
    .navigation__link--active:link, .navigation__link--active:visited {
      color: #455; }
    .navigation__link--active::after {
      background: #455; }
  .navigation__link--scrolled:link, .navigation__link--scrolled:visited {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: #455;
    text-decoration: none;
    transition: color 2s; }
  .navigation__link--scrolled::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #455;
    transition: width 0.6s; }
  .navigation__link--scrolled:hover::after {
    width: 100%; }
  .navigation__title {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-left: 5rem;
    color: #fffafa;
    transition: color 2s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__title {
        margin: 0; } }
    .navigation__title--scrolled {
      color: #455;
      transition: color 2s; }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        background: #fffafa;
        height: 100vh;
        width: 100%;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(0px at 50% 50%);
        transition: all 1s ease; } }
    .navigation__list--active {
      display: flex;
      color: rgba(68, 85, 85, 0.2);
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 50% 50%);
      transition: all 2s ease; }

.section-concept {
  margin: 0 5rem;
  height: 40rem; }

.section-kitchen {
  height: 50rem;
  position: relative; }
  .section-kitchen__main {
    background-image: url(../img/single-composition-kitchen.png);
    background-position: right bottom; }
  .section-kitchen__single-img-background {
    height: 100%;
    background-size: cover;
    width: 100%;
    /* top: -20%; */
    left: 0;
    position: absolute;
    background-repeat: no-repeat; }

.section-philosophy {
  margin: 0 5rem;
  height: 25rem; }

.section-restaurant-interior {
  height: 50rem;
  position: relative; }
  .section-restaurant-interior__main {
    height: 100%;
    background-image: url(../img/restaurant-interior.jpg);
    background-position: center; }
  .section-restaurant-interior__single-img-background {
    height: 100%;
    background-size: cover;
    width: 100%;
    /* top: -20%; */
    left: 0;
    position: absolute;
    background-repeat: no-repeat; }

.section-quote {
  height: 40rem; }

.section-food {
  height: 60vh; }
  .section-food__img-1 {
    background-image: url(../../img/dinner-composition-1.jpg); }
  .section-food__img-2 {
    background-image: url(../../img/dinner-composition-2.jpg); }
    @media only screen and (max-width: 56.25em) {
      .section-food__img-2 {
        display: none; } }
  .section-food__img-3 {
    background-image: url(../../img/dinner-composition-3.jpg); }
  .section-food__img-4 {
    background-image: url(../../img/dinner-composition-4.jpg); }
    @media only screen and (max-width: 56.25em) {
      .section-food__img-4 {
        display: none; } }

.section-video {
  position: relative;
  height: 95vh; }

.section-forage {
  height: 60vh; }
  .section-forage__img-1 {
    background-image: url(../../img/wanderlust-composition-1.jpg); }
  .section-forage__img-2 {
    background-image: url(../../img/wanderlust-composition-2.jpg); }
    @media only screen and (max-width: 56.25em) {
      .section-forage__img-2 {
        display: none; } }
  .section-forage__img-3 {
    background-image: url(../../img/wanderlust-composition-3.jpg); }
  .section-forage__img-4 {
    background-image: url(../../img/wanderlust-composition-4.jpg); }
    @media only screen and (max-width: 56.25em) {
      .section-forage__img-4 {
        display: none; } }

.about-landing-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../../img/about-landing-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.section-story {
  margin: 4rem 30rem;
  padding: 2rem; }

.section-produce-composition {
  height: 60vh; }
  .section-produce-composition__img-1 {
    background-image: url(../../img/about-composition-1.jpg); }
  .section-produce-composition__img-2 {
    background-image: url(../../img/about-composition-2.jpg); }
    @media only screen and (max-width: 56.25em) {
      .section-produce-composition__img-2 {
        display: none; } }
  .section-produce-composition__img-3 {
    background-image: url(../../img/about-composition-3.jpg); }
  .section-produce-composition__img-4 {
    background-image: url(../../img/about-composition-4.jpg); }
    @media only screen and (max-width: 56.25em) {
      .section-produce-composition__img-4 {
        display: none; } }

.section-story-2 {
  margin: 4rem 30rem;
  padding: 2rem; }

.section-produce {
  height: 60rem; }
  .section-produce__main {
    height: 100%;
    background-image: url(../../img/about-produce-bg.jpg);
    background-position: center; }
  .section-produce__single-img-background {
    background-size: cover;
    background-repeat: no-repeat; }

.shop-landing-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../../img/shop-landing-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.cart-btn-container {
  position: fixed;
  top: 50%;
  right: 2.5%;
  z-index: 1;
  display: block;
  transition: all 1s ease;
  transform: translateX(201%) rotate(90deg);
  opacity: 0; }
  .cart-btn-container--active {
    opacity: 1;
    transition: all 1s ease;
    transform: translateX(0) rotate(0deg); }
  .cart-btn-container--scrolled {
    opacity: 0; }

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 3;
  background: #455;
  opacity: 0;
  padding: 1.5rem;
  color: #ebf1ca;
  transition: opacity 0.1s, transform, 0.5s;
  transition-timing-function: cubic-bezier(0.03, 0.76, 0.5, 0.75);
  transform: translateX(100%); }
  @media only screen and (min-width: 75em) {
    .cart-container {
      width: 35%; } }
  .cart-container--active {
    transform: translateX(0);
    opacity: 1; }

.card-container {
  width: 90;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 7rem; }

.contact-landing-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../../img/contact-landing-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.section-contact {
  margin: 5rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.section-contact-composition__img-1 {
  background-image: url(../../img/contact-composition-1.png); }

.section-contact-composition__img-2 {
  background-image: url(../../img/contact-composition-2.png); }
  @media only screen and (max-width: 56.25em) {
    .section-contact-composition__img-2 {
      display: none; } }

.section-contact-composition__img-3 {
  background-image: url(../../img/contact-composition-3.png); }

#contact-composition {
  height: 75rem; }

.newsletter-form {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .newsletter-form {
      flex-direction: column;
      width: 80%;
      max-width: 30rem; } }
  .newsletter-form__item {
    text-align: center; }
    .newsletter-form__item:nth-of-type(1) {
      position: relative;
      padding: 3px; }
      .newsletter-form__item:nth-of-type(1)::after {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        width: 1.5px;
        height: 80%;
        margin: auto 1px;
        background: rgba(0, 0, 0, 0.1); }
        @media only screen and (max-width: 56.25em) {
          .newsletter-form__item:nth-of-type(1)::after {
            display: none; } }
      @media only screen and (max-width: 56.25em) {
        .newsletter-form__item:nth-of-type(1) {
          background: #ebf1ca; } }
  .newsletter-form__input {
    padding: 1.5rem;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border: 0;
    outline: none;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .newsletter-form__input {
        width: 100%; } }
    .newsletter-form__input::placeholder {
      opacity: 0.5; }
    .newsletter-form__input:focus::placeholder {
      color: #455;
      opacity: 0.85;
      font-weight: 800; }
    .newsletter-form__input-email:hover {
      color: #455;
      font-weight: 800; }
  .newsletter-form__button {
    padding: 1.5rem 2rem;
    background: #455;
    color: #ebf1ca;
    border-radius: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .newsletter-form__button {
        border-radius: 0; } }

.header-checkout {
  height: 20%; }
  .header-checkout__text-box {
    margin: 0 5rem 5rem; }
  .header-checkout__primary--sub {
    font-size: 3rem;
    letter-spacing: 1rem; }

.heading-checkout {
  color: #455; }

.main {
  display: flex; }

.section-summary {
  display: inline-block;
  margin: 1rem;
  width: 65%;
  transition: transform 0.3s ease; }

.checkout-container {
  display: flex;
  padding: 2rem;
  border: solid 1px #455;
  justify-content: center;
  border-radius: 1rem; }

.cart-empty {
  text-align: center;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cart-empty__text {
    width: 100%; }

.items-container {
  display: grid;
  gap: 1rem;
  min-height: 35rem;
  margin: 1rem;
  height: 100%;
  width: 75%; }
  .items-container--active {
    margin: 0;
    width: 100%; }
  .items-container__footer {
    border-top: solid 1.5px; }

.checkout-item {
  display: grid;
  grid-template-columns: 2.5% repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas: 'remove name price quantity total';
  align-items: center;
  justify-items: center; }
  .checkout-item__details {
    font-size: 1.5rem; }

.checkout-total {
  grid-area: total; }

.section-form {
  display: inline-block;
  overflow: hidden;
  width: 45%;
  position: relative;
  margin: 1rem; }

.section-buttons {
  display: block;
  height: 10rem; }

.form-container {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: solid 1px #455;
  border-radius: 1rem;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  .form-container__chevron-left {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -5%);
    font-size: 2rem;
    opacity: 1;
    transition: opacity 0.3s ease; }
    .form-container__chevron-left--hidden {
      opacity: 0; }
  .form-container__chevron-right {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -2%);
    font-size: 2rem; }
    .form-container__chevron-right--hidden {
      opacity: 0; }
  .form-container__billing {
    background-color: #455;
    transform: translateX(100%); }
    .form-container__billing--slide {
      transform: translateX(0); }
  .form-container__address--slide {
    transform: translateX(-100%); }

.button-container {
  position: relative; }
  .button-container__checkout {
    position: absolute;
    top: 0;
    right: 10%; }
