/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #fffafa;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #455;
  line-height: 1.7; }

.heading__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: #ebf1ca;
  text-transform: uppercase; }
  .heading__primary--main {
    display: block;
    width: 100%;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1.5rem; }

.heading-secondary {
  font-weight: 300;
  font-size: 3rem;
  width: 60%;
  text-align: center; }

.heading-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 400; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  text-decoration: none;
  color: #ebf1ca;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn__text--cream {
    border: solid 1px #ebf1ca;
    border-radius: 2px;
    padding: 1rem 8rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    transition: all 0.5s; }
    .btn__text--cream:hover {
      background-color: rgba(119, 119, 119, 0.7);
      border: solid transparent 1px;
      border-radius: 2px; }
  .btn__text--green-basil {
    padding: 1rem 8rem;
    margin: 1rem;
    border: solid 1px #455;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #455;
    transition: color, border 0.5s; }
    .btn__text--green-basil:hover {
      background-color: rgba(119, 119, 119, 0.7);
      border: solid transparent 1px;
      border-radius: 2px;
      color: #fffafa; }
  .btn__toggle {
    position: fixed;
    top: 0.75rem;
    right: 1rem;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem; }
    .btn__toggle--bar {
      height: 2px;
      width: 100%;
      background-color: #fffafa;
      border-radius: 30px;
      transition: background-color 0.2s ease; }
      .btn__toggle--bar-active {
        background-color: #455; }
      .btn__toggle--bar-scrolled {
        background-color: #455; }
    @media only screen and (max-width: 37.5em) {
      .btn__toggle {
        display: flex; } }

.btn-carousel {
  width: 1rem;
  height: 1rem;
  background-color: #ebf1ca;
  border: none;
  border-radius: 100%;
  padding: 5px; }
  .btn-carousel:active,
  .btn-carousel :visited {
    background-color: rgba(119, 119, 119, 0.7); }
  .btn-carousel--1 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px; }
  .btn-carousel--2 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px; }

.single-img-background {
  height: 100%;
  background-size: cover;
  width: 100%;
  /* top: -20%; */
  left: 0;
  position: absolute;
  background-repeat: no-repeat; }

.carousel {
  position: relative;
  height: 100%;
  overflow: hidden; }
  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in; }
  .carousel__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .carousel__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden; }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    z-index: 998; }
    .carousel__button--icon {
      font-size: 2.5rem;
      color: #455; }
    .carousel__button--left {
      left: 4rem; }
    .carousel__button--right {
      right: 4rem; }
    .carousel__button--hidden {
      display: none; }
  .carousel__nav {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    z-index: 998;
    cursor: pointer; }
  .carousel__current-btn {
    background: rgba(0, 0, 0, 0.75); }

.link {
  text-decoration: none;
  color: #455; }
  .link:link, .link:visited {
    text-decoration: none; }
  .link:hover {
    font-weight: 700; }

.logo {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/fern-logo-1.png); }
  .logo__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem; }

.text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0; }
  .footer__text {
    font-size: 2rem;
    margin: 1rem; }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    font-size: 1.5rem; }
  .footer__link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .footer__language-selection {
    display: flex;
    justify-content: center;
    margin: 1rem; }
    .footer__language-selection--german {
      margin: 0 1rem; }
    .footer__language-selection--english {
      margin: 0 1rem; }
  .footer__social-media {
    display: flex; }
    .footer__social-media--fb {
      margin: 0 5px; }
    .footer__social-media--inst {
      margin: 1px 5px; }

#footer__text-box {
  height: 15rem; }

.header {
  height: 100vh; }
  .header__text-box {
    margin: 5rem;
    text-align: center; }
  .header__btn-carousel-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
    height: 5rem;
    bottom: 0;
    right: 0;
    margin-right: 5rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  font-size: 1.5rem;
  background: transparent;
  transition: background 1s; }
  .navigation__scrolled {
    background: #fffafa;
    color: #455;
    transition: background 1s;
    box-shadow: 0px 1px 1px 1px rgba(68, 85, 85, 0.2); }
  .navigation__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo-box {
        display: none;
        height: auto; } }
  .navigation__link:link, .navigation__link:visited {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: #fffafa;
    text-decoration: none;
    transition: color 1s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        margin: 5px; } }
  .navigation__link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fffafa;
    transition: width 0.6s; }
  .navigation__link:hover {
    font-weight: 700; }
  .navigation__link:hover::after {
    width: 100%; }
  .navigation__link--active {
    color: #455;
    margin: 1rem; }
    .navigation__link--active:link, .navigation__link--active:visited {
      color: #455; }
    .navigation__link--active::after {
      background: #455; }
  .navigation__link--scrolled:link, .navigation__link--scrolled:visited {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: #455;
    text-decoration: none;
    transition: color 2s; }
  .navigation__link--scrolled::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #455;
    transition: width 0.6s; }
  .navigation__link--scrolled:hover::after {
    width: 100%; }
  .navigation__title {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-left: 5rem;
    color: #fffafa;
    transition: color 2s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__title {
        margin: 0; } }
    .navigation__title--scrolled {
      color: #455;
      transition: color 2s; }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        background: #fffafa;
        height: 100vh;
        width: 100%;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(0px at 50% 50%);
        transition: all 1s ease; } }
    .navigation__list--active {
      display: flex;
      color: rgba(68, 85, 85, 0.2);
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 50% 50%);
      transition: all 2s ease; }

.carousel__slide--home-1 {
  background-image: url(../img/home-hero-1-scaled.jpg); }

.carousel__slide--home-2 {
  background-image: url(../img/home-hero-2-scaled.jpg); }

.carousel__slide--home-3 {
  background-image: url(../img/home-hero-3-scaled.jpg); }

.section-concept {
  margin: 0 5rem;
  height: 40rem; }

.section-kitchen {
  height: 50rem;
  position: relative; }
  .section-kitchen__main {
    background-image: url(../img/single-composition-kitchen.png);
    background-position: right bottom; }

.section-philosophy {
  margin: 0 5rem;
  height: 25rem; }

.section-restaurant-interior {
  height: 50rem;
  position: relative; }
  .section-restaurant-interior__main {
    background-image: url(../img/restaurant-interior.jpg);
    background-position: center; }

.carousel__slide--wanderlust-1 {
  background-image: url(../img/wanderlust-hero-1-scaled.jpg); }

.carousel__slide--wanderlust-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wanderlust-hero-2-scaled.jpg); }

.carousel__slide--wanderlust-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wanderlust-hero-3-scaled.jpg); }

.section-video {
  position: relative;
  height: 95vh; }
