.section-summary {
  // transform: translateX(0%);
  transition: all 1s ease;
  width: 100%;
  &--compact {
    width: 35%;
    transition: all 1s ease;
    // transform: translateX(100%);
  }
}

.header-checkout {
  height: 20%;

  &__text-box {
    margin: 0 5rem 5rem;
  }

  &__primary--sub {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

.heading-checkout {
  color: $color-green-basil;
}

.checkout-container {
  display: flex;
  margin: 5rem;
  padding: 2rem;
  border: solid 1px $color-green-basil;
  justify-content: center;
  border-radius: 1rem;
}

.items-container {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  height: 100%;
  width: 75%;

  &--active {
    margin: 0;
    width: 100%;
  }

  &__footer {
    border-top: solid 1.5px;
  }
}

.checkout-item {
  display: grid;
  grid-template-columns: 2.5% repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas: 'remove name price quantity total';
  align-items: center;
  justify-items: center;

  &--compact {
    grid-template-columns: 50% 50%;
  }

  &__details {
    font-size: 1.5rem;

    &--compact {
      display: none;
    }
  }
}

.checkout-total {
  grid-area: total;

  &--compact {
    grid-area: name;
  }
}

.section-buttons {
  height: 10rem;
}

.button-container {
  position: relative;

  &__checkout {
    position: absolute;
    top: 0;
    right: 10%;
  }
}
