.header-checkout {
  height: 20%;

  &__text-box {
    margin: 0 5rem 5rem;
  }

  &__primary--sub {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

.heading-checkout {
  color: $color-green-basil;
}

.main {
  display: flex;
}

.section-summary {
  // transform: translateX(0%);
  display: inline-block;
  margin: 1rem;
  width: 65%;
  transition: transform 0.3s ease;
}

.checkout-container {
  display: flex;
  padding: 2rem;
  border: solid 1px $color-green-basil;
  justify-content: center;
  border-radius: 1rem;
}

.items-container {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  height: 100%;
  width: 75%;

  &--active {
    margin: 0;
    width: 100%;
  }

  &__footer {
    border-top: solid 1.5px;
  }
}

.checkout-item {
  display: grid;
  grid-template-columns: 2.5% repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas: 'remove name price quantity total';
  align-items: center;
  justify-items: center;

  &__details {
    font-size: 1.5rem;
  }
}

.checkout-total {
  grid-area: total;
}

.section-form {
  display: inline-block;
  overflow: hidden;
  width: 45%;
  position: relative;
  margin: 1rem;
}

.section-buttons {
  display: block;
  height: 10rem;
}

.form-container {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: solid 1px #455;
  border-radius: 1rem;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  &__billing {
    background-color: $color-green-basil;
    transform: translateX(100%);

    &--slide {
      transform: translateX(0);
    }
  }

  &__address {
    &--slide {
      transform: translateX(-100%);
    }
  }
}

.button-container {
  position: relative;

  &__checkout {
    position: absolute;
    top: 0;
    right: 10%;
  }
}
