.header-checkout {
  height: 20%;

  &__text-box {
    margin: 0 5rem 5rem;
  }

  &__primary--sub {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

.heading-checkout {
  color: $color-green-basil;
}

.main {
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.section-summary {
  // transform: translateX(0%);
  display: inline-block;
  margin: 1rem;
  width: 65%;
  transition: transform 0.3s ease;

  @include respond(phone) {
    width: 80%;
  }

  @include respond(phone-large) {
    width: 90%;
  }
}

.checkout-container {
  display: flex;
  justify-content: center;
  min-height: 45rem;
  padding: 2rem;
  border: solid 1px $color-green-basil;
  border-radius: 1rem;

  @include respond(phone-large) {
    padding: 0;
    min-height: 30rem;
  }
}

.cart-empty {
  text-align: center;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    width: 100%;
  }
}

.items-container {
  display: grid;
  gap: 1rem;
  min-height: 35rem;
  margin: 1rem;
  height: 100%;
  width: 75%;

  @include respond(phone-large) {
    width: 90%;
  }

  // margin: 0;
  // width: 100%;

  &__footer {
    border-top: solid 1.5px;
  }
}

.checkout-item {
  display: grid;
  grid-template-columns: 2.5% repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas: 'remove name price quantity total';
  align-items: center;
  justify-items: center;

  @include respond(phone-large) {
    grid-template-columns: 2.5% repeat(3, 1fr);
  }

  &__details {
    font-size: 1.5rem;

    &--hide {
      @include respond(phone-large) {
        display: none;
      }
    }
  }
}

.checkout-total {
  grid-area: total;
}

.section-form {
  display: inline-block;
  overflow: hidden;
  width: 45%;
  min-height: 45rem;
  position: relative;
  margin: 1rem;

  @include respond(tab-port) {
    width: 65%;
  }

  @include respond(phone) {
    width: 80%;
  }

  @include respond(phone-large) {
    width: 90%;
  }
}

.section-buttons {
  display: block;
  height: 10rem;
}

.form-container {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: solid 1px #455;
  border-radius: 1rem;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  &__chevron {
    &-left {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translate(-50%, -5%);
      font-size: 2rem;
      opacity: 1;
      transition: opacity 0.3s ease;

      @include respond(phone-large) {
        font-size: 2.5rem;
        top: 7%;
        left: 18%;
      }

      @include respond(phone-small) {
        left: 13%;
      }

      &--hidden {
        opacity: 0;
      }
    }

    &-right {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translate(-50%, -2%);
      font-size: 2rem;

      @include respond(phone-large) {
        font-size: 2.5rem;
        top: 5.5%;
        right: 10%;
      }

      @include respond(phone-small) {
        right: 5%;
      }

      &--hidden {
        opacity: 0;
      }
    }
  }

  &__billing {
    background-color: $color-green-basil;
    transform: translateX(100%);

    &--slide {
      transform: translateX(0);
    }
  }

  &__address {
    &--slide {
      transform: translateX(-100%);
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;

  @include respond(tab-port) {
    justify-content: center;
  }

  &__checkout {
    display: flex;
    justify-content: center;
    width: 40%;

    @include respond(phone) {
      width: 75%;
    }

    @include respond(phone-medium) {
      width: 100%;
    }
  }
}
