.contact-landing-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(
      rgba($color-black, 0.5),
      rgba($color-black, 0.4)
    ),
    url(../../img/contact-landing-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-contact {
  margin: 5rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-contact-composition {
  &__img-1 {
    background-image: url(../../img/contact-composition-1.png);
  }
  &__img-2 {
    background-image: url(../../img/contact-composition-2.png);

    @include respond(tab-port) {
      display: none;
    }
  }
  &__img-3 {
    background-image: url(../../img/contact-composition-3.png);
  }
}

#contact-composition {
  height: 75rem;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 2rem rgba($color-black, 0.2);
  border-radius: 20px;
  overflow: hidden;

  @include respond(tab-port) {
    flex-direction: column;
    width: 80%;
    max-width: 30rem;
  }

  &__item {
    text-align: center;

    &:nth-of-type(1) {
      position: relative;
      padding: 3px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        width: 1.5px;
        height: 80%;
        margin: auto 1px;
        background: rgba(0, 0, 0, 0.1);

        @include respond(tab-port) {
          display: none;
        }
      }

      @include respond(tab-port) {
        background: $color-cream-light;
      }
    }
  }

  // &__label {
  // }

  &__input {
    padding: 1.5rem;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border: 0;
    outline: none;
    cursor: pointer;

    @include respond(tab-port) {
      width: 100%;
    }

    &::placeholder {
      opacity: 0.5;
    }

    &:focus::placeholder {
      color: $color-green-basil;
      opacity: 0.85;
      font-weight: 800;
    }

    &-email {
      &:hover {
        color: $color-green-basil;
        font-weight: 800;
      }
    }
  }

  &__button {
    padding: 1.5rem 2rem;
    background: $color-green-basil;
    color: $color-cream-light;
    border-radius: 2rem;

    @include respond(tab-port) {
      border-radius: 0;
    }
  }
}
