.section-quote {
  height: 40rem;
}

.section-reservations {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75rem;
  background: $color-green-basil;
}

.reservations-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 60%;
  padding: 3rem;
  background: $color-white-snow;
  border-radius: 5px;
  box-shadow: 0 0 10px #fffafa;

  @include respond(phone) {
    width: 90%;
  }

  @include respond(phone-large) {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  @include respond(phone-medium) {
    height: 90%;
  }
}
th {
  padding: 5px;
  font-size: 1.5rem;
}
td {
  text-align: center;
  font-size: 1.25rem;
}
.reservations {
  &__header {
    flex: 0;
    align-self: self-start;
    margin: 1rem;
    width: 30%;

    @include respond(tab-port) {
      align-self: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone-medium) {
      width: 100%;
      height: 90%;
    }
  }

  &__body {
    display: flex;
    width: 100%;
    border: solid 1px $color-green-basil;
    position: relative;
    padding: 1rem;
    transition: opacity 0.5s ease;

    @include respond(phone-medium) {
      border-left: 0;
      border-right: 0;
      border: 0;
      flex-direction: column;
      height: 100%;
    }

    &::after {
      position: absolute;
      top: 12%;
      right: 50%;
      content: '';
      height: 75%;
      width: 1px;
      background: $color-green-basil;

      @include respond(phone-medium) {
        top: 35%;
        right: 12%;
        height: 1px;
        width: 75%;
      }
    }

    &--hide {
      &::after {
        opacity: 0;
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -1;

    &--reveal {
      opacity: 1;
      z-index: 1;
    }
  }

  &__form-details {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    position: relative;
    height: 100%;
    width: 50%;
    padding: 2rem;
    transition: opacity 0.5s ease;

    @include respond(phone-medium) {
      width: 100%;
      height: 35%;
      flex: 0;
    }

    &-header {
      width: 75%;
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 75%;

      @include respond(phone-large) {
        justify-content: center;
        width: 100%;
      }

      @include respond(phone-medium) {
        display: grid;
        justify-items: center;
        align-items: self-end;
      }
    }

    &-group {
      margin-bottom: 1.5rem;

      &-timeParty {
        margin: 2rem 0;
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @include respond(phone-large) {
          flex-direction: column;
        }

        @include respond(phone-medium) {
          flex-direction: row;
          margin: 0;
        }
      }
    }

    &-select {
      font: inherit;
      font-size: 1.5rem;

      @include respond(phone-large) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 35%;
    padding: 2rem;
    transition: opacity 0.5s ease;

    @include respond(phone-medium) {
      width: 100%;
      height: 50%;
    }
  }

  &__footer {
    margin: 1rem 0 2rem 0;
  }

  &--hide {
    opacity: 0;
    z-index: -1;
  }
}

.section-food {
  height: 60vh;

  &__img-1 {
    background-image: url(../../img/dinner-composition-1.jpg);
  }
  &__img-2 {
    background-image: url(../../img/dinner-composition-2.jpg);

    @include respond(tab-port) {
      display: none;
    }
  }
  &__img-3 {
    background-image: url(../../img/dinner-composition-3.jpg);
  }
  &__img-4 {
    background-image: url(../../img/dinner-composition-4.jpg);

    @include respond(tab-port) {
      display: none;
    }
  }
}

.calendar {
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
  }
  &__month-indicator {
    text-align: center;
    font-weight: 500;
    margin: 1rem 0;
  }

  &__date-required {
    visibility: hidden;
    font-size: 1.5rem;
    &--reveal {
      text-align: center;
      color: red;
      visibility: visible;
    }
  }

  &__day-of-week,
  &__date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__day-of-week {
    margin-top: 1.25em;

    & > * {
      font-size: 1.5rem;
      color: $color-green-basil;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-variant: small-caps;
      text-align: center;
    }
  }

  &__date-grid {
    margin-top: 0.5em;
    grid-template-rows: repeat(6, 1fr);
  }

  &__dates {
    position: relative;
    outline: none;
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: $color-green-basil;

    @include respond(tab-land) {
      width: 3.5ch;
      height: 3.5ch;
    }

    @include respond(tab-port) {
      width: 3.5ch;
      height: 3.5ch;
    }

    @include respond(phone-large) {
      width: 3ch;
      height: 3ch;
    }

    &--valid {
      &:hover,
      :focus {
        background-color: rgba($color-cream-medium, 0.5);
        cursor: pointer;
      }
    }

    &--opaque {
      opacity: 0.3;
    }

    &--selected {
      background-color: $color-green-basil;
      color: $color-white-snow;

      &:hover,
      :focus {
        background-color: $color-green-basil;
      }
    }
  }
}
