.carousel {
  &__slide--home-1 {
    background-image: url(../img/home-hero-1-scaled.jpg);
  }
  &__slide--home-2 {
    background-image: url(../img/home-hero-2-scaled.jpg);
  }
  &__slide--home-3 {
    background-image: url(../img/home-hero-3-scaled.jpg);
  }
}

.section-concept {
  margin: 0 5rem;
  height: 40rem;
}

.section-kitchen {
  height: 50rem;
  position: relative;

  &__main {
    background-image: url(../img/single-composition-kitchen.png);
    background-position: right bottom;
  }
}

.section-philosophy {
  margin: 0 5rem;
  height: 25rem;
}

.section-restaurant-interior {
  height: 50rem;
  position: relative;

  &__main {
    background-image: url(../img/restaurant-interior.jpg);
    background-position: center;
  }
}
