.section-concept {
  margin: 0 5rem;
  height: 40rem;
}

.section-kitchen {
  height: 50rem;
  position: relative;

  &__main {
    background-image: url(../img/single-composition-kitchen.png);
    background-position: right bottom;
  }

  &__single-img-background {
    height: 100%;
    background-size: cover;
    width: 100%;
    /* top: -20%; */
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
  }
}

.section-philosophy {
  margin: 0 5rem;
  height: 25rem;
}

.section-restaurant-interior {
  height: 50rem;
  position: relative;

  &__main {
    height: 100%;
    background-image: url(../img/restaurant-interior.jpg);
    background-position: center;
  }

  &__single-img-background {
    height: 100%;
    background-size: cover;
    width: 100%;
    /* top: -20%; */
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
  }
}
