.carousel {
  &__slide--wanderlust-1 {
    background-image: url(../img/wanderlust-hero-1-scaled.jpg);
  }
  &__slide--wanderlust-2 {
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/wanderlust-hero-2-scaled.jpg);
  }
  &__slide--wanderlust-3 {
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/wanderlust-hero-3-scaled.jpg);
  }
}

.section-video {
  position: relative;
  height: 95vh;
}

.section-forage {
  height: 60vh;

  &__img-1 {
    background-image: url(../../img/wanderlust-composition-1.jpg);
  }
  &__img-2 {
    background-image: url(../../img/wanderlust-composition-2.jpg);

    @include respond(tab-port) {
      display: none;
    }
  }
  &__img-3 {
    background-image: url(../../img/wanderlust-composition-3.jpg);
  }
  &__img-4 {
    background-image: url(../../img/wanderlust-composition-4.jpg);

    @include respond(tab-port) {
      display: none;
    }
  }
}
