.carousel {
  &__slide--wanderlust-1 {
    background-image: url(../img/wanderlust-hero-1-scaled.jpg);
  }
  &__slide--wanderlust-2 {
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/wanderlust-hero-2-scaled.jpg);
  }
  &__slide--wanderlust-3 {
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/wanderlust-hero-3-scaled.jpg);
  }
}
