.composition {
  height: 60vmin;

  &__content {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;

    @include respond(tab-port) {
      grid-template-columns: 50% 50%;
    }

    &--tile {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
