.form {
  display: grid;
  grid-template-rows: 10%;
  gap: 2rem;
  height: 100%;

  &__address {
    // transform: translateX(0);

    &--animate {
      transform: translateX(-100%);
    }
  }

  &__billing {
    color: $color-cream-light;
    opacity: 1;
    transition: transform 0.3 ease;

    &--animate {
      transform: translateX(0);
    }
  }

  &__group-container {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    height: 100%;
  }

  &__label {
    display: block;
  }

  &__input {
    height: 3rem;
  }
}
