.form {
  display: grid;
  grid-template-rows: 10%;
  gap: 2rem;
  height: 100%;

  &__address {
    grid-template-rows: auto;
    &--animate {
      transform: translateX(-100%);
    }
  }

  &__header {
    grid-column: line1 / line3;
    font-size: 2.5rem;

    &-paragraph {
      grid-column: line1 / line3;
      align-self: center;
      justify-self: center;
      color: red;
      opacity: 0;
      transition: opacity 0.5s ease;

      &--reveal {
        opacity: 1;
      }
    }
  }

  &__billing {
    color: $color-cream-light;
    opacity: 1;
    transition: transform 0.3 ease;

    &--animate {
      transform: translateX(0);
    }
  }

  &__group {
    &-container {
      display: grid;
      gap: 0 2rem;
      grid-template-columns: [line1] 60% [line2] 40% [line3];
      grid-template-rows: 50% 50%;
      height: 100%;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__billing-checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  // &:checked ~ .form__billing-checkmark {
  //   margin: 1px;

  //   /* Show the checkmark when checked */

  //   &:after {
  //     display: block;
  //   }
  // }

  &__billing-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    &:checked ~ .form__billing-checkbox-checkmark {
      &:after {
        display: block;
      }
    }

    &-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
      background-color: $color-cream-light;
      border: solid $color-green-basil 1px;
      border-radius: 5px;

      /* Create the checkmark/indicator (hidden when not checked) */

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        height: 70%;
        width: 70%;
        border-radius: 5px;
        background-color: $color-green-basil;
      }
    }
  }

  &__billing-label {
    font-size: 1.25rem;
  }

  &__label {
    display: block;
    font-weight: 400;

    &-reservations {
      font-size: 1.5rem;
    }
  }

  &__input {
    height: 3rem;
    padding: 1rem;
    outline: none;
    border: solid 1px $color-grey-dark-2;
    border-radius: 2px;
    font: inherit;
    color: $color-grey-dark-2;

    &:focus-within {
      border: solid 1px $color-green-basil;
      border-left: solid 3px $color-green-basil;
      border-radius: 2px 5px 5px 2px;
    }

    &:invalid {
      border: solid 1px $color-green-basil;
      border-left: solid $color-red-dark;
      border-radius: 2px 5px 5px 2px;
    }

    &:valid {
      color: $color-green-basil;
    }

    &-reservations {
      height: 2.5rem;
      font-size: 1.25rem;
    }

    &-billing {
      &:focus-within {
        border-left: solid 3px $color-cream-dark;
      }
    }
  }
}

.checkbox-container {
  position: relative;
  margin-right: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
}
