@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #fffafa;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #455;
  line-height: 1.7; }

.heading__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: #ebf1ca;
  text-transform: uppercase; }
  .heading__primary--main {
    display: block;
    width: 100%;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1.5rem; }

.heading-secondary {
  font-weight: 300;
  font-size: 3rem;
  width: 60%;
  text-align: center; }

.heading-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 400; }

.btn {
  text-decoration: none;
  color: #ebf1ca; }
  .btn__text--cream {
    border: solid 1px #ebf1ca;
    border-radius: 2px;
    padding: 1rem 8rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    transition: all 0.5s; }
    .btn__text--cream:hover {
      background-color: rgba(119, 119, 119, 0.7);
      border: solid transparent 1px;
      border-radius: 2px; }

.btn-carousel {
  width: 1rem;
  height: 1rem;
  background-color: #ebf1ca;
  border: none;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer; }
  .btn-carousel:active,
  .btn-carousel :visited {
    background-color: rgba(119, 119, 119, 0.7); }
  .btn-carousel--1 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer; }
  .btn-carousel--2 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer; }

.single-img-background {
  height: 100%;
  background-size: cover;
  width: 100%;
  /* top: -20%; */
  left: 0;
  position: absolute;
  background-repeat: no-repeat; }

.carousel {
  height: 100vh;
  width: 100%;
  overflow-x: hidden; }
  .carousel__slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .carousel__slide--1 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/home-hero-1-scaled.jpg); }
    .carousel__slide--2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/home-hero-2-scaled.jpg); }
    .carousel__slide--3 {
      background-size: cover;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/home-hero-3-scaled.jpg); }
  .carousel__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow-x: hidden; }

.link {
  text-decoration: none;
  color: #455; }
  .link:link, .link:visited {
    text-decoration: none; }

.logo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem; }

.logo__footer {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../img/fern-logo-1.png); }

.text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0; }
  .footer__text {
    font-size: 2rem;
    margin: 1rem; }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    font-size: 1.5rem; }
  .footer__link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .footer__language-selection {
    display: flex;
    justify-content: center;
    margin: 1rem; }
    .footer__language-selection--german {
      margin: 0 1rem; }
    .footer__language-selection--english {
      margin: 0 1rem; }
  .footer__social-media {
    display: flex; }
    .footer__social-media--fb {
      margin: 0 5px; }
    .footer__social-media--inst {
      margin: 1px 5px; }

#footer__text-box {
  height: 15rem; }

.header {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative; }
  .header__text-box {
    margin: 5rem;
    text-align: center; }
  .header__btn-carousel-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
    height: 5rem;
    bottom: 0;
    right: 0;
    margin-right: 5rem; }

.section-concept {
  margin: 0 5rem;
  height: 40rem; }

.section-kitchen {
  height: 50rem;
  position: relative; }
  .section-kitchen__main {
    background-image: url(../../img/single-composition-kitchen.png);
    background-position: right bottom; }

.section-philosophy {
  margin: 0 5rem;
  height: 25rem; }

.section-restaurant-interior {
  height: 50rem;
  position: relative; }
  .section-restaurant-interior__main {
    background-image: url(../../img/restaurant-interior.jpg);
    background-position: center; }
