@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #25415a;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ebf1ca;
  line-height: 1.7; }

.section-landing {
  height: 100vh;
  width: 100%;
  background: url(../../img/header-hero-fern.jpg);
  background-size: cover;
  background-position: center; }
