@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #fffafa;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #455;
  line-height: 1.7; }

.heading__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: #ebf1ca;
  text-transform: uppercase; }
  .heading__primary--main {
    display: block;
    width: 100%;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1.5rem; }

.heading-secondary {
  font-weight: 300;
  font-size: 3rem;
  width: 60%;
  text-align: center; }

.heading-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 400; }

.btn {
  text-decoration: none;
  color: #ebf1ca; }
  .btn__text--cream {
    border: solid 1px #ebf1ca;
    border-radius: 2px;
    padding: 1rem 8rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    transition: all 0.5s; }
    .btn__text--cream:hover {
      background-color: rgba(119, 119, 119, 0.7);
      border: solid transparent 1px;
      border-radius: 2px; }

.btn-carousel {
  width: 1rem;
  height: 1rem;
  background-color: #ebf1ca;
  border: none;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer; }
  .btn-carousel:active,
  .btn-carousel :visited {
    background-color: rgba(119, 119, 119, 0.7); }
  .btn-carousel--1 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer; }
  .btn-carousel--2 {
    background-color: #ebf1ca;
    border: none;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer; }

.single-img-background {
  height: 100%;
  background-size: cover;
  width: 100%;
  /* top: -20%; */
  left: 0;
  position: absolute;
  background-repeat: no-repeat; }

.carousel {
  position: relative;
  height: 100%; }
  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .carousel__track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden; }
  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in; }
  .carousel__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .carousel__slide--1 {
      background-image: url(../../img/home-hero-1-scaled.jpg); }
    .carousel__slide--2 {
      background-image: url(../../img/home-hero-2-scaled.jpg); }
    .carousel__slide--3 {
      background-image: url(../../img/home-hero-3-scaled.jpg); }
  .carousel__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden; }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer; }
    .carousel__button--icon {
      font-size: 2.5rem;
      color: #455; }
    .carousel__button--left {
      left: 4rem; }
    .carousel__button--right {
      right: 4rem; }
    .carousel__button--hidden {
      display: none; }
  .carousel__nav {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer; }

.link {
  text-decoration: none;
  color: #455; }
  .link:link, .link:visited {
    text-decoration: none; }
  .link:hover {
    font-weight: 700; }
  .link__navigation:link, .link__navigation:visited {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: #fffafa;
    text-decoration: none; }
  .link__navigation::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fffafa;
    transition: width 0.6s; }
  .link__navigation:hover {
    font-weight: 700; }
  .link__navigation:hover::after {
    width: 100%; }
  .link__navigation--scrolled:link, .link__navigation--scrolled:visited {
    position: relative;
    display: inline-block;
    padding: 3px;
    color: #455;
    text-decoration: none; }
  .link__navigation--scrolled::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #455;
    transition: width 0.6s; }
  .link__navigation--scrolled:hover::after {
    width: 100%; }

.logo {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../img/fern-logo-1.png); }
  .logo__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem; }
    .logo__box--nav {
      height: 100%; }

.text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0; }
  .footer__text {
    font-size: 2rem;
    margin: 1rem; }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    font-size: 1.5rem; }
  .footer__link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .footer__language-selection {
    display: flex;
    justify-content: center;
    margin: 1rem; }
    .footer__language-selection--german {
      margin: 0 1rem; }
    .footer__language-selection--english {
      margin: 0 1rem; }
  .footer__social-media {
    display: flex; }
    .footer__social-media--fb {
      margin: 0 5px; }
    .footer__social-media--inst {
      margin: 1px 5px; }

#footer__text-box {
  height: 15rem; }

.header {
  height: 100vh; }
  .header__text-box {
    margin: 5rem;
    text-align: center; }
  .header__btn-carousel-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
    height: 5rem;
    bottom: 0;
    right: 0;
    margin-right: 5rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  font-size: 1.5rem;
  background: transparent;
  transition: background 0.7s; }
  .navigation__title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-left: 5rem; }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none; }
  .navigation__scrolled {
    background: #fffafa;
    color: #455;
    transition: background 0.5s; }

.section-concept {
  margin: 0 5rem;
  height: 40rem; }

.section-kitchen {
  height: 50rem;
  position: relative; }
  .section-kitchen__main {
    background-image: url(../../img/single-composition-kitchen.png);
    background-position: right bottom; }

.section-philosophy {
  margin: 0 5rem;
  height: 25rem; }

.section-restaurant-interior {
  height: 50rem;
  position: relative; }
  .section-restaurant-interior__main {
    background-image: url(../../img/restaurant-interior.jpg);
    background-position: center; }
