.link {
  text-decoration: none;
  color: $color-green-basil;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    font-weight: 700;
  }

  &__navigation {
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      padding: 3px;
      color: $color-white-snow;
      text-decoration: none;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background: $color-white-snow;
      transition: width 0.6s;
    }
    &:hover {
      font-weight: 700;
    }

    &:hover::after {
      width: 100%;
    }
  }
  &__navigation--scrolled {
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      padding: 3px;
      color: $color-green-basil;
      text-decoration: none;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background: $color-green-basil;
      transition: width 0.6s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
