.navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  font-size: 1.5rem;
  background: transparent;
  transition: background 0.7s;

  &__title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-left: 5rem;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
  }

  &__scrolled {
    background: $color-white-snow;
    color: $color-green-basil;
    transition: background 0.5s;
  }
}
